/* from coding market07 responsive cards-------*/


body {
    background: white;
    color: #555555;
    font-size: 14px;

    font-family: 'Poppins', 'Arial', sans-serif;
  }
  
  
  
  #whatiDoTitle {
  
    margin-top: 2em;
    text-align: center;

    font-size: 3em;
    font-weight: 900;
    text-decoration-line: overline;
    text-decoration-color: #f8430075;
    
  }


  
  .servicesImg {
    display: block;
    width: 100%;
    height: 100%;
  
  
  
    width: 16em;
    height: 16em;
  }
  
  .wrapper {
    width: 100%;
    margin: 75px auto;
  }
  
  .cards_wrap {
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
  
  .cards_wrap .card_item {
    width: 33%;
    padding: 10px;
  }
  
  .cards_wrap .card_inner {
    background: #fff;
    box-shadow: -3px 2px 22px 0px #F2DBD2;
  
    box-shadow: rgb(247 234 228) -18px 2px 22px -10px;
  
    box-shadow: rgb(147 142 140 / 54%) -18px 2px 22px -10px;

    box-shadow: rgb(147 142 140 / 54%) -18px 2px 54px -14px;
  }
  
  
  
  .cards_wrap .card_top {
    width: 100%;
    height: auto;
    padding: 10px;
    padding-bottom: 0;

    
    margin: 0 auto;
    text-align: center;
  }
  
  .cards_wrap .card_bottom {
    padding: 15px;
    margin-bottom: 50px;
  }
  
  .cards_wrap .card_bottom .card_category {
    text-transform: uppercase;
    text-align: center;
  }
  
  .cards_wrap .card_bottom .card_info {
    padding: 15px;
    margin: 10px 0;
   
    background: #ff4d21;
    background: #797372;
    color: white;
    text-align: center;
  }
  
  .cards_wrap .card_bottom .card_info .title {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 5px;
  }


  
  .cards_wrap .card_bottom .card_creator {
    text-align: center;
    font-weight: bold;
    text-decoration: none;

    margin-top: 53px;
   
    margin-bottom: 53px;
    
  }





  .fas .fa-pencil-alt {

    


    font-size: 5em;
    color: orangered;

  }


  .fas .fa-desktop {

    font-size: 5em;
    color: orangered;
  }




  .fa, .fas {
    font-weight: 900;
    color: orangered;
    font-size: 5em;
}
  .servicesLink {

    text-decoration: none;
    color: orangered;
    background: #36bcca;
    border-radius: 15px;
    padding: 8px;
    box-shadow: rgb(15 125 136 / 42%) -15px -8px 22px;
  }


  a:active {
    color: #355f3b;
} 

a:visited {

  color:white;
}



  



  .card_category{
      font-weight: bold;
  }
  
  @media (min-width: 1024px) {
    .cards_wrap .card_item {
      width: 31.3%;
    }
  }
  
  @media (max-width: 768px) {
    .cards_wrap .card_item {
      width: 100%;
    }
  }
  
  @media (max-width: 528px) {
    .cards_wrap .card_item {
      width: 100%;
    }
  }  


  
   
  
  
  
  
